body {
background-color: grey;
font-family:'Courier New', Courier, monospace;
color: black;
font-size: 20px;
}
img {
    width: 600px;
    height: 400px;
}


.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}